*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tabs{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #000;
    padding: 15px 20px;
    flex-wrap: wrap;
}

/* MENU */

.tabs a{
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}

.home,
.program{
    color: white;
    font-size: 20px;
}

.home:hover,
.program:hover{
    color: #38bdf8;
    transform: scale(1.1);
}

/* CONTACT */

.contact{
    margin-left: auto;
    color: #81eb5d;
    font-size: 17px;
}

.contact:hover{
    color: #b6ff9c;
}

/* MOBILE */

@media(max-width: 768px){

    .tabs{
        gap: 15px;
        padding: 15px;
    }

    .home,
    .program,
    .contact{
        font-size: 16px;
    }

    .contact{
        margin-left: 0;
        margin-left: auto;
    }

}